<launch>
  <arg name="info" default="/pikmin/head_rgbd_sensor/rgb/camera_info" />
  <arg name="input_image" default="/pikmin/head_rgbd_sensor/rgb/image_rect_color" />
  <arg name="input_cloud" default="/pikmin/head_rgbd_sensor/depth_registered/points" />
  
  <include file="$(find action_pkg)/launch/my_mask_rcnn_clustering_fridge.launch">
    <arg name="info" default="$(arg info)" />
    <arg name="input_image" default="$(arg input_image)" />
    <arg name="input_cloud" default="$(arg input_cloud)" />
  </include>
  
  <include file="$(find action_pkg)/launch/my_mask_rcnn_clustering.launch">
    <arg name="info" default="$(arg info)" />
    <arg name="input_image" default="$(arg input_image)" />
    <arg name="input_cloud" default="$(arg input_cloud)" />
  </include>
  
  <group ns="online" >
    <include file="$(find sound_segmentation)/launch/online3.launch" >
      <arg name="target_class" value="testtest" />
    </include>
  </group>

</launch>
