<launch>
  <node name="$(anon sample_buttons)"
        pkg="jsk_rqt_plugins" type="rqt_service_buttons" output="screen" clear_params="true">
    <param name="~layout_yaml_file" value="package://action_pkg/resources/my_service_button_layout.yaml" />
  </node>
  <!-- <node name="sample_service_buttons" pkg="jsk_rqt_plugins" type="sample_service_buttons.py" -->
  <!--       output="screen"/> -->
  <node name="close_door_demo" pkg="action_pkg" type="action.py" output="screen" />
  <node name="action_test" pkg="action_pkg" type="action_test.py" output="screen" />
</launch>
